## Task -2: Fundamentals of Python
1) You have to given a string and you have to swap that string in other words.
Covert all the lowercase letter into uppercase and vice versa

In [ ]:
str1=input("Enter the string:") 
newStr = ""  
   
for i in range(0, len(str1)):  
    #Checks for lower case character  
    if str1[i].islower():  
        #Convert it into upper case using upper () function  
        newStr += str1[i].upper()  
    #Checks for upper case character  
    elif str1[i].isupper():  
        #Convert it into lower case using lower () function  
        newStr += str1[i].lower()  
      
    else:  
        newStr += str1[i]       
print("String after case conversion : " +  newStr)

Enter the string:Hello Code Family
String after case conversion : hELLO cODE fAMILY

2) You have to given s string and you have to capitalize first two characte of the string. Given a full name and you have to capitalize the name appropriately.

In [ ]:
s = input("Enter the name:")
l = s.split()
for word in l:
  l1= word[:2].upper()
  l1+= word[2:]
  print(l1, end=" ")

Enter the name:marley bob
MArley BOb

3) You have to given a information about N people. Each person has name, last name, age, sex,city. Print names in a specific format in descending order i.e the elder person name should be their in order of print.

In [7]:
# Taking input from user
n = int(input())
dict = {}
for _ in range(n):
    p1 = list(map(str,input().split()))
    if int(p1[1]) not in dict:
        dict[int(p1[1])] = [p1]
    elif int(p1[1]) in dict:
        dict[int(p1[1])].append(p1)
    s = sorted(dict, reverse = True)
print()
for i in s:
    if len(dict[i])<2:
        print(" ".join(dict[i][0]))
    else:
        for ele in dict[i]:
            print(" ".join(ele))

3
john 20 m mumbai
robert 36 f bangalore
nicks 34 m pune

robert 36 f bangalore
nicks 34 m pune
john 20 m mumbai